
/* Bootstrap Navbar Changes */
.navbar{
    background-color: rgb(24, 24, 24);
    position: fixed;
    width: 100%;
    z-index: 99999999;
}
.navigation-toggle-span{
  opacity: 0;
}
.navbar-toggler:focus {
    text-decoration: none;
    box-shadow: none;
}
.navbar-nav{
    text-align: center;
}
.nav-item{
    display: inline-block;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.nav-link{
    font-family: 'Montserrat Bold'; 
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    /* text-shadow: 0px 4px 4px rgb(0 0 0 / 25%); */
}
.nav-link:hover{
    color: #F4ECDC ;
    background-color: #364C62;
    transition: 0.3s;
}

/* Add Ons */
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.toggler{
    width: 100%;
    margin-bottom: 12px;
}
.toggler-container{
    position: fixed;
    right: 16px;
    height: 2rem;
    width: 2rem;
    background:rgb(24, 24, 24);
    border-radius: 10px;
    z-index: 999999999;
    top: 10px;
}

/* HexagonCircle */
:root {
  --color-primary: rgb(24, 24, 24);
  --color-secondary: #75757C;
  --color-dark: #364C62;
  --color-light: #F5F5F5;
  --td: 150ms;
  --te: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  margin: 0 auto;
  max-width: 45rem;
  padding: 1rem;
}
.page-container > * + * {
  margin-top: 1.5rem;
}
.nav-main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: -100%;
  position: fixed;
  transition: left 0s calc(var(--td) * 2), transform 0s calc(var(--td) * 2);
  width: 100%;
  z-index: 1021;
  top: 0;
}
.nav-main::before, .nav-main::after {
  content: "";
  height: 51%;
  left: 0;
  position: absolute;
  transform: translateX(-110%);
  transform-origin: 0 50%;
  transition: transform calc(var(--td) * 2) var(--td) var(--te);
  width: 100%;
  z-index: -100;
  background: rgb(24, 24, 24);
}
.nav-main::before {
  top: 0;
}
.nav-main::after {
  bottom: 0;
}
.nav-main .menu__item {
  opacity: 0;
  transform: translateX(-1rem);
  transition: opacity var(--td) var(--te), transform var(--td) var(--te);
}

@keyframes blink {
  50%, 100% {
    opacity: 0;
  }
}
@media(max-width: 768px){
    .nav-link{
        font-size: 14px;
    }
    .nav-pic{
      display:none;
    }
}


.navbar-active{
  border-bottom: 5px solid #1DB954;
  bottom: -10px;
  content: " ";
}