.navbar{
  position: fixed;
}
h1{
  font-family: "Montserrat Bold 2"
}
#scene-3{
    background:rgb(24, 24, 24);
}
.marker {
display: block;
border: none;
border-radius: 50%;
cursor: pointer;
padding: 0;
}